<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383372276654-fdbqh8i2pclm522k7qupeif526egnepu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383372276654-fdbqh8i2pclm522k7qupeif526egnepu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>383372276654-82jle1fv2jav1rvdd99bpacfcrdd4rb9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuUTQbQ12t1yQmVAAxk_MoCxNKFyC_8DE</string>
	<key>GCM_SENDER_ID</key>
	<string>383372276654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pilotprojects.travelvoice</string>
	<key>PROJECT_ID</key>
	<string>travel-voice-b342b</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-voice-b342b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383372276654:ios:433ae79c068804b7a0ce3f</string>
</dict>
</plist>